@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: rgb(164, 195, 223);
  color: rgb(34, 54, 56);
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
 
}
.container{
margin: 50px;
width: 80%;

}
.avatar {
  width: 250px;
  height: 300px;
  border-radius: 35px;
  margin: 10px;
  border: 4mm ridge rgba(139, 190, 188, 0.6);
  box-shadow: 10px 10px 14px rgb(34, 54, 56);
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 20px;
  text-decoration:underline;
}

.info{
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  margin-left: 30%;
  width: 100%;
}

.info h1 {
font-family:fantasy;
margin: 0;
font-style: italic;
font-weight: bold;
letter-spacing: 3px;
padding: 20px;
}

.postion {
  position: fixed; 
  right: 20px; 
  top: 10%;
  padding: 10px;
  width: 100px;
  height: 90px;
  left: 79%;

  border-radius: 70px;
  text-align:center;
  margin:auto;
}

.box {
  position: fixed;
  right: 20px;
  top: 22%;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin:auto;
}

.imgzn {
 
    width: 80px;
    height: 80px;
    border-radius:  30px;
   
}

.imgzn img{
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */

}

.imgzn:hover img {
    transform: scale(1.2); /* Увеличиваем масштаб */

  }



.blok{
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.b-yellow{
background: #fff9dc;
}

.b-red{
  background: #ffe5e5;
}

.institute{
  display: flex;
  margin: auto;
  margin-bottom: 50px;
background: rgb(174, 231, 231);
border-radius: 20px;

}

.institute-text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 20px;
}

.institute-foto{
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 0px;
}


.institute-foto img{
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */

}

.institute-foto:hover img {
  transform: scale(1.2); /* Увеличиваем масштаб */

}


.okno{
  color: black;
  text-decoration:none;
}
.okno :hover{
  text-decoration: line-through;
}

.close{
  color: black;
  text-decoration:none;
}

.table{
  border: 2mm ridge rgba(16, 11, 36, 0.6);
  width: 300px;
}



an {
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 100%;
}

span {
  display: block;
  position: absolute;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0,0,0,.4);
  -webkit-animation: run 2s infinite ease-in-out;
  animation: run 2s infinite ease-in-out;
}

.one {
  background: #F3B222;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.two {
  background: #F0653E;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.three {
  background: #B9C0C0;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.four {
  background: #8F7473;
}

@-webkit-keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5); 
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; 
  }
  75% {
    transform: translate(0%, 150%) scale(0.5); 
    border-radius: 0%;
  }
}
@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5); 
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; 
  }
  75% {
    transform: translate(0%, 150%) scale(0.5); 
    border-radius: 0%;
  }
}